@charset "UTF-8";

body {
    background-color: rgb(37, 133, 37);
    size:5px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}

h5{

    text-align: left;
    size: 2px;
}
/* Formatação de imagens com legendas*/

figure.foto-legenda{
    border: 4px solid rgba(104, 103, 103, 0.548);
    box-shadow: 2px 2px 6px black;
    width: 95px;
    height: 95px;
}
figure.foto-legenda img {
    width: 95px;
    height: 95px;
}
figure.foto-legenda figcaption{
    opacity: 0%;
    position: relative;
    top: -90px;
    background-color: rgba(0, 0, 0, .2);
    color: rgb(245, 244, 244);
    width: 95px;
    height: 86px;
    padding: none;
    box-sizing: border-box;
}
figure.foto-legenda:hover figcaption{
    opacity: 100%;
    transition: 3s;
    
}

figure.logo{
    border: 4px solid rgba(104, 103, 103, 0.548);
    box-shadow: 2px 2px 6px black;
    width: 95px;
    height: 95px;
}
    figure.logo img {
        width: 95px;
        height: 95px;
    }