@charset "UTF-8";

body {
    background-color: rgb(37, 133, 37);
    
}

div#interface{
    width: 900px;
    background-color: #ffffff;
    padding: 10px;
    margin: -20px auto 0px auto;
    box-shadow: 5px 5px 10px black;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    size: 1px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}

h5{
    text-align: left;
}
/* Formatação de imagens com legendas*/

figure.foto-legenda{
    border: 6px solid rgba(255, 254, 254, 0.993);
    box-shadow: 2px 3px 6px black;
    width: 150px;
    height: 140px;
    position: relative;
    left: 350px;
}
figure.foto-legenda img {
    width: 150px;
    height: 140px;
}
figure.foto-legenda figcaption{
    opacity: 0%;
    position: absolute;
    top: 0px;
    text-align: center;
    background-color: rgba(5, 1, 1, 0.5);
    color: rgb(170, 238, 198);
    width: 150px;
    height: 140px;
    padding: none;
    box-sizing: border-box;
}
figure.foto-legenda:hover figcaption{
    opacity: 100%;
    transition: 3s;
}

figure.logo{
    border: 4px solid rgba(104, 103, 103, 0.548);
    box-shadow: 2px 2px 6px black;
    width: 910px;
    height: 219px;
    position: relative;
    top: -15px;
    left: -50px;
}
figure.logo img {
        width: 910px;
        height: 220px;
        position: relative;
        top: 0px;
        left: 0px;
 }

/* Formatação do menu de navegação, quando ultilizamos id colocamos para identificar '#' */

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    right: 180px;
}

nav#menu li{
    display: inline-block;
    background-color: transparent;
    padding: 4px;
    margin: 4px;
    transition: .8s;
}

nav#menu li:hover{
    background-color: #606060;
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}
